# NordVPN Service Credentials
NORDVPN_USERNAME=your_service_username
NORDVPN_PASSWORD=your_service_password

# SOCKS5 Authentication
REQUIRE_AUTH=false
PROXY_USER=
PROXY_PASSWORD=

# Nodes Configuration format: NODE_ID=Country:Port
# Example: NODE_DE=Germany:1081
